:host {
  display: flex;
  height: 59px;
  background-color: #4296cb;
  align-items: center;
  padding-left: 33px;
  color: #fff;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  margin-left: 32px;
}