:host {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #4285bc;
  padding: 0 33px;
  height: 38px;
  border: 1px solid #4285bc;
  border-radius: 32px;;
}