:host {
  display: block;
}

.hero-section {
  height: calc(100vh - 57px);
  overflow: hidden;
  padding: 0 26px;
  display: grid;
  grid-template-rows: auto 257px;
  row-gap: 87px;
  align-content: center;

  .hero-information {
    h1 {
      margin: 0;
      font-size: 32px;
      line-height: 39px;;
      color: #394e5d;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      color: #182333;
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;

    img {
      width: 266px;
      height: 257px;
    }
  }
}

.hero-section-2 {
  height: calc(100vh - 57px);
  overflow: hidden;
  padding: 0 22px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 48px;
  align-content: center;

  h2 {
    margin: 0;
    font-size: 26px;
    line-height: 32px;
    color: #394e5d;
  }

  .hero-information {
    h3 {
      margin: 0;
      font-size: 20px;
      line-height: 24px;;
      color: #394e5d;
    }

    p {
      font-size: 16px;
      line-height: 29px;
      color: #182333;
    }
  }

  .hero-image {
    display: none;
    justify-content: center;

    img {
      width: 236px;
      height: 370px;
    }
  }
}

.logo-section {
  display: flex;
  width: 100%;
  height: 145px;
  overflow-x: auto;
  background-color: #f5f8fa;
}

.logos {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 145px;
  align-items: center;
  grid-auto-columns: 90px;
  column-gap: 60px;
  padding: 0 26px;
}

.logo-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  grid-row-start: 1;
}

.posts-section {
  margin-top: 52px;
  padding: 0 23px;

  ik-blog-post-summary:not(:first-child) {
    margin-top: 46px;
  }

  mat-spinner {
    margin: 2rem auto 0;
  }
}

.action-section {
  margin: 48px 0 78px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .hero-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .hero-information {
      box-sizing: border-box;
      padding: 0 1rem;
      max-width: 543px;
      margin: 0 40px 0 auto;

      h1 {
        font-size: 46px;
        line-height: 57px;
      }

      p {
        font-size: 22px;
        line-height: 27px;
      }
    }

    .hero-image {
      margin-left: 40px;
      justify-content: flex-start;

      img {
        width: 384px;
        height: 371px;
      }
    }
  }

  .hero-section-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 60px;

    h2 {
      grid-column: 1 / span 2;
      display: flex;
      justify-content: center;
      font-size: 32px;
      line-height: 39px;
    }

    .hero-image {
      display: flex;
      grid-row: 2;
    }

    .hero-information {
      grid-row: 2;
      max-width: 525px;

      p {
        font-size: 18px;
        line-height: 33px;
      }
    }
  }

  .logos {
    flex: 1 0 auto;
    grid-auto-columns: auto;
    column-gap: 97px;
    justify-content: center;
  }

  .logo-text {
    font-size: 35px;
    line-height: 48px;
    color: #959595;
  }
}