<div class="hero-section">
  <div class="hero-information">
    <h1>Start new... Today!</h1>
    <p>
      Vivamus vestibulum elit efficitur, elementum sapien a,
      aliquet ipsum
    </p>
  </div>
  <div class="hero-image">
    <img src="/assets/images/56256.png">
  </div>
</div>
<div class="hero-section-2">
  <h2>Lorem ipsum something</h2>
  <div class="hero-image">
    <img src="/assets/images/56217.png">
  </div>
  <div class="hero-information">
    <h3>New Product, new Story</h3>
    <p>
      Vivamus vestibulum elit efficitur, elementum sapien a,
      aliquet ipsum. Fusce placerat dolor id cursus finibus.
      Aliquam tempus facilisis ipsum sit amet molestie. Proin
      lobortis eros a turpis tempor, sed ornare augue aliquam.
      Donec imperdiet nulla ut placerat molestie. In hendrerit
      blandit ante facilisis ultrices. Mauris vulputate metus
      sit amet ex dignissim, sed hendrerit nunc rhoncus.
    </p>
  </div>
</div>
<div class="logo-section">
  <div class="logos">
    <span class="logo-text">Logo #1</span>
    <span class="logo-text">Logo #1</span>
    <span class="logo-text">Logo #1</span>
    <span class="logo-text">Logo #1</span>
    <span class="logo-text">Logo #1</span>
  </div>
</div>
<div class="posts-section">
  <ik-blog-post-summary *ngFor="let post of posts$ | async" [post]="post">
  </ik-blog-post-summary>
  <mat-spinner *ngIf="postsLoading$ | async" [diameter]="50">
  </mat-spinner>
</div>
<div class="action-section">
  <ik-cta-button *ngIf="!(postsLoading$ | async)" (click)="loadMorePosts()">
    Read more
  </ik-cta-button>
</div>